.vs/PyCode/FileContentIndex/45951b13-a136-4f33-9058-cf2505c9eb35.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/PyCode/FileContentIndex/6745a83a-f6fa-4385-952c-91c66fffc035.vsidx
.vs/PyCode/v17/.wsuo
.vs/PyCode/FileContentIndex/88bb4efd-6f61-4bdc-b7ff-5ad7bd5ac1b3.vsidx
.vs/PyCode/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
